<div id="page_wrapper">
	<div id="profile_imnage">
	 <%= image_tag "logo.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, Im David</h1>
		<p>Welcome to my first blog i have ever made!</p>
		<p>Retro wayfarers wolf four loko blue bottle. +1 asymmetrical trust fund cardigan. Waistcoat banjo brooklyn kinfolk photo booth squid. Tilde butcher pabst keffiyeh williamsburg. Tote bag narwhal hella williamsburg, farm-to-table man bun butcher four loko sriracha craft beer blue bottle selvage roof party fingerstache twee. </p>
		<p>You can find me on<a href="https://github.com/ecuSinner"> GitHub</a></p>
	</div>
</div>